<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shape_category.name %>
</p>


<%= link_to 'Edit', edit_shape_category_path(@shape_category) %> |
<%= link_to 'Back', shape_categories_path %>
